@model PagedList<Customer>
@{
    ViewData["Title"] = "Customer";
}


<div class="container">
    <h2>@SharedLocalizer["Customer.Management"]</h2>
    <div class="row mb-3">
        <div class="col-md-6">
            <a asp-action="Create" class="btn btn-primary">@SharedLocalizer["Customer.Add"]</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>@SharedLocalizer["Customer.Name"]</th>
                        <th>@SharedLocalizer["Customer.Surname"]</th>
                        <th>@SharedLocalizer["Address"]</th>
                        <th>@SharedLocalizer["Customer.PostCode"]</th>
                        <th>@SharedLocalizer["Country"]</th>
                        <th>@SharedLocalizer["Customer.DateofBirth"]</th>
                        <th>@SharedLocalizer["RegistrationDate"]</th>
                        <th>@SharedLocalizer["Actions"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in Model.ListElements)
                    {
                        <tr>
                            <td>@customer.CustomerName</td>
                            <td>@customer.CustomerSurname</td>
                            <td>@customer.Address</td>
                            <td>@customer.PostCode</td>
                            <td>@customer.Country</td>
                            <td>@customer.DateofBirth.ToShortDateString()</td>
                            <td>@customer.RegistrationDate.ToString("D")</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@customer.CustomerNo" class="btn btn-info btn-sm">@SharedLocalizer["Edit"]</a>
                                <a asp-action="Details" asp-route-id="@customer.CustomerNo" class="btn btn-info btn-sm">@SharedLocalizer["Details"]</a>
                                <a asp-action="Delete" asp-route-id="@customer.CustomerNo" class="btn btn-danger btn-sm">@SharedLocalizer["Delete"]</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @for (int i = 1; i <= Model.pageSize; i++)
                    {
                        <li class="page-item @(Model.pageIndex == i ? "active" : "")"><a class="page-link" asp-route-page="@i">@i</a></li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>
